{% extends 'e-admin/layout.html' %}
{% load static %}
{% block content %}
<div class="bid_container">

    <h1>Admin dashboard</h1>
    <p class="breadcrump">Dashboard/View Tender Information</p>
    <section class="mainTender">

        <table>
            <thead>
                <th>S.No</th>
                <th>block_id</th>
                <th>UserId</th>
                <th>Previous Hash</th>
                <th>Coted Amount</th>
                <th>Cotated At</th>
            </thead>
            <tbody>
                {% for blocks in block_list %}
                
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{blocks.bbid}}</td>
                   
                    <td>{{blocks.userid}}</td>
                    <td>{{blocks.previousHash}}</td>
                    <td>{{blocks.transaction}}</td>
                    <td>{{blocks.updated_at}}</td>
                    
                    <td>  <a href="{% url 'announceWinner' blockid=blocks.bbid %}" >Announce as Winner</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </section></div>






{% endblock%}