<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Admin-Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">

    <link rel="icon" href="{% static 'profile/logo.jpg' %}" type="image/png">
</head>
<body>
    <div class="admin-container">
    <header class="admin-header">
        <ul>
            <li><h2>Welcome! Authority</h2></li>
            <li>  <a href="{% url 'index' %}">Logout</a></li>
        </ul>
    </header>
    <section class="admin_body">
        <section class="sidebar">
            <div class="navbar">
            
                <div class="menu"> <a href="{% url 'viewTenderList' %}"> View Tenders</a> </div>
                <div class="menu"> <a href="{% url 'viewUsers' %}">View Users</a></div>
            </div>
        </section>
        <section class="maincontent">
            {% block content %}
            {% endblock %}
        </section>
    </section>
  
   
</div>
</body>
</html>