{% extends 'e-admin/layout.html' %}
{% load static %}
{% block content %}
<h1>Admin dashboard</h1>
<p><a href="{% url 'authority_newTender' %}">Home</a></p>
<p><a href="{% url 'viewTenderList' %}">View Tenders</a></p>

<table>
    <thead>
        <th>S.No</th>
        <th>Img</th>
        <th>tenderNo</th>
        <th>title</th>
        <th>started_at</th>
        <th>ended_at</th>
        <th>Cotated At</th>
        <th>status</th>
    </thead>
    <tbody>
        {% for tender in tenderlist %}
        
        <tr>
            <td>{{forloop.counter}}</td>
            <td><img src="{% static  tender.img  %}" alt="" height="50px" width="50px"></td>
            <td>{{tender.tenderNo}}</td>
            <td>{{tender.title}}</td>
            <td>{{tender.started_at}}</td>
            <td>{{tender.ended_at}}</td>
            <td>{{tender.initalCotation}}</td>
            <td>{{tender.status}}</td>
            <td>  <a href="{% url 'adminGetBidInfo' tender_id=tender.id %}" >View</a></td>
            <td>  <a href="{% url 'deleteTender' tender_id=tender.id %}" >Delete</a></td>
            <td>  <a href="{% url 'closeTender' tender_id=tender.id %}" >Close Tender</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock%}