@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;500&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
}

:root {
    --primary-color: #9766be;
    --light-primary-color: #be9fd8;
    --green-color: #0c8835;
    --white-color: #ffff;
    --black-color: #0a0a0aee;
    --red-color: #d30202;
    --grey-color: #b3b3b3;
}

body {
    position: relative;
}

header {
    background-color: var(--white-color);
    height: 70px;
    width: 100%;
    top: 0;
    position: sticky;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.logo-container {
    display: flex;
}

header nav {
    display: flex;
    cursor: pointer;
    justify-content: space-between;

}

header nav h1 {
    margin: 15px;
}

header nav ul {
    margin: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

header nav ul li {
    padding: 5px;
}

header nav ul li:last-child {
    margin-right: 80px;
}

nav h1 {
    color: var(--primary-color);
}

li a {
    color: var(--black-color);
}

li span a {
    border: 1px solid var(--primary-color);
    padding: 10px 10px;
    border-radius: 15px;
    color: var(--black-color);

}

li span a:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.logo-image {}

.carousel {
    height: 400px;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    position: relative;

}

.heading {
    position: absolute;
    font-size: 1.8em;
    color: var(--white-color);
    margin: 15px;
    top: 50%;
}

.carousel img {

    width: 100%;
    position: absolute;
}

.winner_container {
    display: flex;
    height: 600px;
    overflow-y: scroll;

    margin: 5px;
    flex-direction: column;
}

.winner_container h3 {
    font-weight: 500;
    font-size: 1.5em;
    align-self: center;

    padding: 20px;
    color: var(--primary-color);
}

.BContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px 15px 0px 45px;
}

.card {
    height: 350px;
    margin: 10px;
    position: relative;
    width: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

footer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer p {
    font-weight: 200;
}

section {
    width: 100%;
    height: 100%;

}

.card.form {
    background-color: var(--primary-color);
    margin: 7% auto;
    height: 330px;
    width: 400px;

}
.card.form.tenders{
    background-color: var(--primary-color);
    margin: 7% auto;
    height: 530px;
    width: 400px;
}

.card.form h2 {
    text-align: center;
    padding: 5px;
    font-weight: 200;
    color: var(--white-color);
}

.logo-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.bl-form {
    padding: 20px;
}

.bl-form p,
a {
    color: var(--white-color);
    font-weight: 200;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    /* Add any other styles as needed */
}

/* Add styles for focused input fields */
.form-control:focus {
    outline: none;
    border-color: #007bff;
    /* Adjust the color as needed */
}

.bl-button {
    padding: 6px;
    font-size: 16px;
    margin: 10px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;

}

.bl-button:hover {
    border: 1px solid var(--white-color);
    background-color: var(--primary-color);
    color: var(--white-color);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    transition: all 0.3s ease;
}

.card.form.bl-h {
    height: 700px;
}

.dropdown-content {
    border-radius: 5px;
    background-color: var(--white-color);
    display: none;
    min-width: 100px;
    height: 100px;
    position: absolute;
    text-align: center;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

}

.dropdown-content a {
    display: block;
    padding: 8px 0;
    margin: 5px;

}

.dropdown-content a:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 300;
    border-radius: 5px;

}

.dropbtn {

    align-items: center;
    flex-direction: column;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.bl-fnt {
    font-weight: 200;
}

.bl-container {
    height: 100%;
    width: 100%;
    display: grid;
    margin: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.bl-container .bl-card {
    height: 250px;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    position: relative;
    margin: 5px;
    border-radius: 5px;
}

.bl-img {
    height: 120px;
    width: 170;
    position: absolute;
    margin-left: 50px;
    border-radius: 5px;
    z-index: 1;

}

.bl-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.bl-content .bl-title {
    position: absolute;
    left: 0;
    top: 25px;
    background-color: var(--light-primary-color);
    font-weight: 100;
    color: var(--white-color);
    width: 100px;
    height: 30px;
}

.bl-content h6 {
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.bl-info {
    position: absolute;
    display: flex;
    padding: 5px;
    margin-top: 35%;
    min-height: 48%;
    width: 100%;

}

.bl-calender {
    border-radius: 0 10px 0px 10px;
    padding: 4px;
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 65%;
}

.bl-calender i {
    padding: 2px;
}

.bl-calender span {
    font-weight: 100;
    margin: 2px;
    padding: 5px;
}

.bl-cotation {
    width: 30%;
    padding: 2px;
    font-weight: 100;

}

.bl-cotation .header {
    font-size: 14px;
}

.bl-btn {
    display: absolute;
    border: 1px solid var(--white-color);
    color: var(--black-color);
    cursor: pointer;
    background-color: var(--primary-color);
    text-align: center;
    margin-top: 10px;
    border-radius: 0px 10px 0px 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bl-btn.wd-1 {
    width: 120px;
    height: 60px;
    font-size: 1em;
    color: var(--white-color);
}

.bl-btn:hover {
    background-color: var(--green-color);
}

.card.cotation-card {
    height: 250px;
    width: 500px;
    position: relative;
}

.cotation-card p,
form {
    padding: 10px;
}

.card.cotation-card.wd {
    height: 80%;
    width: 1000px;
    overflow: scroll;
}

.wd h2 {
    padding: 10px;
}

table {
    margin: 10px;
    position: absolute;
    border: 1px solid var(--black-color);
}

table thead {
    background-color: var(--grey-color);
    color: var(--black-color);
}

table thead th {
    padding: 15px;
}

tbody tr td {
    border: 1px solid var(--black-color);
    padding: 10px;
    text-align: center;

}
td a{
    color: var(--black-color);
}

tbody tr:hover {
    background-color: var(--light-primary-color);
    border: 1px solid var(--black-color);
    color: var(--white-color);
}

.initalcotation {
    border: 1px solid beige;
    height: 50px;
    margin-top: 100px;
}

.card .winner_container {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;

}

.card .winner_container .winner_img_container {
    position: absolute;
    object-fit: cover;
    width: 80%;
    align-self: center;

}

.winner_img_container img {
    height: 150px;
    width: 200px;

}

.winner_content {
    margin-top: 160px;

}

.winner_content h2 {
    color: var(--primary-color);
}

.price {
    overflow: hidden;
    display: flex;
}

.winner-name {
    position: absolute;
    bottom: 20px;
    left: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    background: var(--green-color);
    color: var(--white-color);
    padding: 5px;
}

.attack {
    height: 400px;
    width: 800px;
    margin: 5% auto;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.attack h1 {
    text-align: center;
    padding: 5px;
    color: var(--red-color);
}

.attack img {
    position: absolute;
    height: 330px;
    width: 400px;
    left: 150px;
}

.bl-btn.cc {
    color: var(--white-color);
    font-size: 20px;
    padding: 10px;
    width: 150px;
    margin-bottom: 5px;
    margin-left: 100px;
}

.unavailable {
    color: var(--red-color)
}

.message_container {
    position: absolute;
    height: 80px;
    width: 350px;
    border-radius: 25px 0px 25px 0px;
    top: 30px;

    right: 15px;
    z-index: 1000;
    padding: 10px;
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--green-color);
    color: var(--white-color);


}

.message_container span {
    margin: 2px;
}

.close {
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 2px;
    font-size: 20px;
    right: 3px;
    top: 5px;

    color: white;
    cursor: pointer;
}

.close:hover {
    color: var(--red-color);
    transform: translateX(5px);
    animation: returnToOriginal 3s forwards;
    
}
@keyframes returnToOriginal {
0%{
    transform: translateX(5px);
}100%{
    transform: translateX(0px);
}
}
.admin-container{
    width: 100%;
    height: 100%;
    background-color: var(--white-color);
}
.admin-container ul{
    display: flex;
    justify-content: space-between;
}
.admin-container ul li{
    padding: 10px;
}
.sidebar{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 200px;
    height: 100%;
    background-color: var(--white-color);
    
}

.navbar .menu{
    padding: 20px;
   
    cursor: pointer;
}
.menu a{
color:var(--black-color);
font-weight: bold;
}
.menu a:hover{
    color: var(--white-color);
}
.navbar .menu:hover{
    background-color: var(--light-primary-color);
    border-radius: 30px 0px 6px 30px;
    color: var(--white-color);
}
.admin_body{
    display: flex;
}

.bid_container{
    position: relative;
    width: 100%;
    height: 90%;
   
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.bid_container h1,p{
    padding: 20px;
}
.bid_container .breadcrump{
    margin-left: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.bid_container .mainTender{
    position:absolute;
    margin: 10px 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 95%;
    overflow: auto;
    height: 70%;
}
.tcontainer{
   margin: 10px;
display: flex;
}
.form-group{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.bl-btn.tt{
    padding: 5px;
    color: var(--white-color);
}
.tenderCC{
    display: flex;
    justify-content: space-between;
}
.tenderCC a{
    color: var(--green-color);
    padding: 20px;
    font-weight: bold;
}