<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Blockchain-Participant</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'profile/logo.jpg' %}" type="image/png">
    {% block style %}
    
    {% endblock %}
</head>
<body>
    <header>
        <nav>
             <h1>Blockchain</h1>
            <ul>
                <li><a href="{% url 'dashboard' %}">Home</a></li>
                <li><a href="{% url 'bid_details' %}">Bid Details</a></li>
                <li class="dropdown">
                    <div class="dropbtn">
                        <img src="{% static 'profile/default.jpg' %}" alt="" height="30px" width="30px">
                    </div>
                    <div class="dropdown-content">
                        <a href="{% url 'index' %}">Logout</a>
                        <a href="{% url 'index' %}">Logout</a>
                    </div>
                </li>

               
            </ul>
        </nav>
    </header>
    
    <p>I am Dashboard</p>
    {% if participant_info %}
    <p>{{participant_info.username}}</p>
    {% endif%}
    <a href="{% url 'dashboard' %}">Home</a>
    <a href="{% url 'bid_details' %}">Bid Details</a>
    <a href="{% url 'index' %}">Logout</a>

    {% block content %}
    {% endblock  %}
</body>
</html>