{% extends 'e-participant/layout.html' %}
{% load static %}
{% block content %}
<div class="header-container">
    <h1>View Profile</h1>
</div>

    <div class="info-tender">
        <div class="profile-image">
            {% if not userInfo.profile_picture %}
            <img   src="{% static 'profile/default.jpg' %}"  name="profile_image" alt="" height="250px" width="250px">
            {% else %}
            <img   src="{% static  userInfo.profile_picture %}"  name="profile_image" alt="" height="250px" width="250px">
            {% endif %}
            <form method="post" enctype="multipart/form-data" class="uploadImage">
                {% csrf_token %}
                 <input type="file" id="profileImageInput" name="profile_image"  accept="image/*">
                <input type="hidden" name="userid" value="{{ userInfo.id }}">
                <button type="submit" >Upload Image</button>
            </form>
           
        </div>
        <div class="profile-details">
            <p>Username: {{ userInfo.username }}</p>
            <p>Email: {{ userInfo.email }}</p>
            <p>Contact: {{ userInfo.contact }}</p>
        </div>
    </div>
   



  
{% endblock %}
