{% extends 'e-participant/layout.html' %}

{% block content %}
    <p>Tender Detail Page</p>
    {{ tenderDetails.tenderNo }} {{ tenderDetails.initalCotation }}
    <p>user id: {{participant_info.id}}</p>
    
    <form method="post" action="{% url 'newCotation' %}">
        {% csrf_token %}
        <input type="text" name="amount">
        <input type="text" name="userid" value={{participant_info.id}}>
        <input type="text" name="tenderNo" value={{tenderDetails.id}}>
        <button type="submit">Cotation</button>
    </form>
{% endblock %}
