{% extends 'e-participant/layout.html' %}

{% block content %}
 
    <div class="bl-container">
         <div class="card cotation-card ">
            <p>Tender No: {{ tenderDetails.tenderNo }}</p>
            <p>Initial Cotation: Rs. {{ tenderDetails.initalCotation }}</p>
          
            <form  method="post" action="{% url 'newCotation' %}">
                {% csrf_token %}
                <input type="text" name="amount" class="form-control">
                <input type="hidden" name="userid" value={{participant_info.id}}>
                <input type="hidden" name="tenderNo" value={{tenderDetails.id}}>
                <button type="submit" class="bl-btn wd-1">Cotation</button>
            </form>
        
        </div>
        <div class="card cotation-card wd ">
            <h2>Recent Participant Cotation </h2>
            <table>
                <thead>
                    <th>S.No</th>
                    <th>TenderId</th>
                    <th>UserId</th>
                    <th>Previous Hash</th>
                    <th>Current Hash</th>
                    <th>Cotated At</th>
                </thead>
                <tbody>
                    {% for blocks in block_list %}
                    
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{blocks.tenderid}}</td>
                        <td>{{blocks.userid}}</td>
                        <td>{{blocks.previousHash}}</td>
                        <td>{{blocks.currentHash}}</td>
                        <td>{{blocks.updated_at}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
           
        </div>
    </div>



    
{% endblock %}
